body {
    font-family: Arial, sans-serif;
    /* background-color: rgba(13, 27, 118, 0.975); */
    background: linear-gradient(90deg, #e4e4e6, #8f8f96);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  h2 {
    text-align: center;
  }
  #userForm {
    background-color: white;
    box-shadow: 0px 0px 24px #303030;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #8f8f96;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #343437;
  }

  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  #outputContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    float: left;
    margin-left: 30px;
  }